{{ template "head" . }}
<main>
    <div
        class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center"
    >
        <div class="col-md-5 p-lg-5 mx-auto my-5 text-white">
            <h2 class="display-6 fw-normal">Hello {{ .user_name }}!</h2>
        </div>

        <div class="container text-center d-grid gap-3">
            <div class="row">
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/addpackage"
                        >Add Package</a
                    >
                </div>
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/bfm"
                        >Buy For Me</a
                    >
                </div>
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/addcomplaint"
                        >Complaint</a
                    >
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/searchpackage"
                        >Search Package</a
                    >
                </div>
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/office"
                        >Offices</a
                    >
                </div>
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/requestpickup"
                        >Request D2D Pickup</a
                    >
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/managepackage"
                        >Manage Packages</a
                    >
                </div>
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/manageoffice"
                        >Manage Offices</a
                    >
                </div>
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/managecomplaint"
                        >Manage Complaints</a
                    >
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/manageuser"
                        >Manage Users</a
                    >
                </div>
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/managepickup"
                        >Manage Pickups</a
                    >
                </div>
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-primary"
                        aria-current="page"
                        href="/report"
                        >Reports</a
                    >
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a
                        role="button"
                        class="w-100 btn btn-lg btn-outline-danger"
                        aria-current="page"
                        href="/logout"
                        >Logout</a
                    >
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</main>
{{ template "foot" }}
