<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Express Service" />
  <title>Xpress Delivery Service</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link href="./assets/css/style.css" rel="stylesheet" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="./assets/logo.png" alt="" width="30" height="30" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Search Package</a></li>
                <li><a class="dropdown-item" href="#">Show Map</a></li>
                <li>
                  <a class="dropdown-item" href="#">Report</a>
                </li>
              </ul>
            <li class="nav-item">
              <a class="nav-link" href="/about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact.html">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Privacy Policy</a>
            </li>
            </li>
          </ul>
          <ul class="navbar-nav d-flex mb-2 mb-lg-0">
            <li class="nav-item">
              <a role="button" class="w-100 btn btn-lg btn-outline-primary" aria-current="page"
                href="/login.html">Login</a>
            </li>
          </ul>
          </form>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
          <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
            <div class="text-center my-5">
              <img
                src="./assets/logo.png"
                alt="logo"
                width="100"
              />
            </div>
            <div class="card shadow-lg">
              <div class="card-body p-5">
                <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                <form
                  method="POST"
                  class="needs-validation"
                  novalidate=""
                  autocomplete="off"
                >
                  <div class="mb-3">
                    <input
                      id="email"
                      type="email"
                      class="form-control"
                      name="email"
                      value=""
                      placeholder="Email"
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">Email is invalid</div>
                  </div>

                  <div class="mb-3">
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Password"
                      required
                    />
                    <div class="invalid-feedback">Password is required</div>
                  </div>

                  <div class="d-flex align-items-center">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        name="remember"
                        id="remember"
                        class="form-check-input"
                      />
                      <label for="remember" class="form-check-label"
                        >Remember Me</label
                      >
                    </div>
                    <button type="submit" class="btn btn-primary ms-auto">
                      Login
                    </button>
                  </div>
                </form>
              </div>
              <div class="card-footer py-3 border-0">
                <div class="text-center">
                  Don't have an account?
                  <a href="register.html" class="text-dark">Create One</a>
                </div>
              </div>
            </div>
            <div class="text-center mt-5 text-muted">
              Copyright &copy; 2022-2023 &mdash; Simon Zam
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
