{{ template "head" . }}
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Offices</b></h2>
                    </div>

                    <div class="col-sm-6">
                        <a
                            href="#addOfficeModal"
                            class="btn btn-success"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#addOfficeModal"
                            title="Add"
                            >Add Office</a
                        >
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="table">
                <thead>
                    <tr>
                        <th class="w-25">Name</th>
                        <th>Addess</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editOfficeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Edit Office</h4>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="office_name"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input
                            type="text"
                            class="form-control"
                            id="office_address"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Latitude</label>
                        <input
                            type="text"
                            class="form-control"
                            id="office_location_lat"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Longitude</label>
                        <input
                            type="text"
                            class="form-control"
                            id="office_location_lng"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input
                            type="text"
                            class="form-control"
                            id="office_phone"
                            required
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        id="submitEditButton"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteOfficeModal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Office</h4>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <h3 class="text-warning">
                        <small>This action cannot be undone.</small>
                    </h3>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="submit"
                        class="btn btn-danger"
                        id="submitDeleteButton"
                    >
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Office Modal -->
<div id="addOfficeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Add Office</h4>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="new_office_name"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input
                            type="text"
                            class="form-control"
                            id="new_office_address"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Latitude</label>
                        <input
                            type="text"
                            class="form-control"
                            id="new_office_location_lat"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Longitude</label>
                        <input
                            type="text"
                            class="form-control"
                            id="new_office_location_lng"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input
                            type="text"
                            class="form-control"
                            id="new_office_phone"
                            required
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        id="submitAddButton"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Get data from backend and display on table
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", "/offices", false);
    xmlHttp.send(null);
    var offices = JSON.parse(xmlHttp.responseText);
    var table = document.getElementById("table");
    for (i = 0; i < offices.length; i++) {
        var row = table.insertRow(1);
        var col = [
            row.insertCell(0),
            row.insertCell(1),
            row.insertCell(2),
            row.insertCell(3),
            row.insertCell(4),
        ];
        col[0].innerHTML = offices[i].name;
        col[1].innerHTML = offices[i].address;
        col[2].innerHTML = offices[i].phone;
        col[4].innerHTML =
            `<a href="#editOfficeModal" class="edit" type=button data-bs-toggle="modal" data-bs-target="#editOfficeModal" title="Edit" data-bs-office_name="` +
            offices[i].name +
            `" data-bs-office_address="` +
            offices[i].address +
            `" data-bs-office_phone="` +
            offices[i].phone +
            `" data-bs-office_location_lat="` +
            offices[i].location_lat +
            `" data-bs-office_location_lng="` +
            offices[i].location_lng +
            `" data-bs-office_id="` +
            offices[i].id +
            `"><i class="material-icons">&#xE254;</i></a>
            <a href="#deleteOfficeModal" class="delete" type="button" data-bs-toggle="modal" data-bs-target="#deleteOfficeModal" title="Delete" data-bs-office_name="` +
            offices[i].name +
            `" data-bs-office_id=` +
            offices[i].id +
            `"><i class="material-icons" >&#xE872;</i></a>`;
    }

    // For Delete Button Modal
    var id;
    const deleteOfficeModal = document.getElementById("deleteOfficeModal");
    deleteOfficeModal.addEventListener("show.bs.modal", (event) => {
        const button = event.relatedTarget;
        id = button.getAttribute("data-bs-office_id");
        const modalTitle = deleteOfficeModal.querySelector(".modal-title");
        modalTitle.textContent =
            `Delete : ` + button.getAttribute("data-bs-office_name");
    });

    const submitDeleteButton = document.getElementById("submitDeleteButton");
    submitDeleteButton.addEventListener("click", (event) => {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST", "/deleteoffice", false);
        xmlHttp.setRequestHeader(
            "Content-type",
            "application/x-www-form-urlencoded"
        );
        xmlHttp.send("office_id=" + id);
    });

    // For Edit Button Modal
    const editOfficeModal = document.getElementById("editOfficeModal");
    editOfficeModal.addEventListener("show.bs.modal", (event) => {
        const button = event.relatedTarget;
        id = button.getAttribute("data-bs-office_id");
        editOfficeModal.querySelector(".modal-body #office_name").value =
            button.getAttribute("data-bs-office_name");
        editOfficeModal.querySelector(".modal-body #office_address").value =
            button.getAttribute("data-bs-office_address");
        editOfficeModal.querySelector(".modal-body #office_phone").value =
            button.getAttribute("data-bs-office_phone");
        editOfficeModal.querySelector(
            ".modal-body #office_location_lat"
        ).value = button.getAttribute("data-bs-office_location_lat");
        editOfficeModal.querySelector(
            ".modal-body #office_location_lng"
        ).value = button.getAttribute("data-bs-office_location_lng");
    });

    const submitEditButton = document.getElementById("submitEditButton");
    submitEditButton.addEventListener("click", (event) => {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST", "/editoffice", false);
        xmlHttp.setRequestHeader(
            "Content-type",
            "application/x-www-form-urlencoded"
        );
        xmlHttp.send(
            "office_name=" +
                document.getElementById("office_name").value +
                "&office_address=" +
                document.getElementById("office_address").value +
                "&office_phone=" +
                document.getElementById("office_phone").value +
                "&office_location_lat=" +
                document.getElementById("office_location_lat").value +
                "&office_location_lng=" +
                document.getElementById("office_location_lng").value +
                "&office_id=" +
                id
        );
    });

    // For add office
    const submitAddButton = document.getElementById("submitAddButton");
    submitAddButton.addEventListener("click", (event) => {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST", "/addoffice", false);
        xmlHttp.setRequestHeader(
            "Content-type",
            "application/x-www-form-urlencoded"
        );
        xmlHttp.send(
            "office_name=" +
                document.getElementById("new_office_name").value +
                "&office_address=" +
                document.getElementById("new_office_address").value +
                "&office_phone=" +
                document.getElementById("new_office_phone").value +
                "&office_phone=" +
                document.getElementById("new_office_phone").value +
                "&office_location_lat=" +
                document.getElementById("new_office_location_lat").value +
                "&office_location_lng=" +
                document.getElementById("new_office_location_lng").value
        );
    });
</script>
{{ template "foot" }}
