{{ template "head" . }}
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Pickups</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="search-box">
                            <div class="input-group">
                                <input
                                    type="text"
                                    id="search"
                                    class="form-control"
                                    placeholder="Search"
                                    onkeyup="searchTable()"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="table">
                <thead>
                    <tr>
                        <th class="w-25">Request User</th>
                        <th>Note</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deletePickupModal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Pickup</h4>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <h3 class="text-warning">
                        <small>This action cannot be undone.</small>
                    </h3>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="submit"
                        class="btn btn-danger"
                        id="submitDeleteButton"
                    >
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- view Modal -->
<div id="viewPickupModal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Pickup</h4>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    Username : <div class="pickup_user_name"></div></br>
                    Phone : <div class="pickup_user_phone"></div></br>
                    Address : <div class="pickup_user_address"></div></br>
                    Pickup Note : <div class="pickup_note"></div></br>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // Get data from backend and display on table
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", "/pickups", false);
    xmlHttp.send(null);
    var pickups = JSON.parse(xmlHttp.responseText);
    var table = document.getElementById("table");
    for (i = 0; i < pickups.length; i++) {
        var row = table.insertRow(1);
        var col = [
            row.insertCell(0),
            row.insertCell(1),
            row.insertCell(2),
        ];
        col[0].innerHTML = pickups[i].user_name;
        col[1].innerHTML = pickups[i].pickup_note;
        col[2].innerHTML =
            `<a href="#viewPickupModal" class="view" type=button data-bs-toggle="modal" data-bs-target="#viewPickupModal" title="Edit" data-bs-pickup_note="` +
            pickups[i].pickup_note +
            `" data-bs-pickup_user_name="` +
            pickups[i].user_name +
            `" data-bs-pickup_user_phone="` +
            pickups[i].user_phone +
            `" data-bs-pickup_user_address="` +
            pickups[i].user_address +
            `"><i class="material-icons">&#xE8f4;</i></a>
            <a href="#deletePickupModal" class="delete" type="button" data-bs-toggle="modal" data-bs-target="#deletePickupModal" title="Delete" data-bs-pickup_id="` +
            pickups[i].pickup_id +
            `"><i class="material-icons" >&#xE872;</i></a>`;
    }

    // For Delete Button Modal
    var id;
    const deletePickupModal = document.getElementById("deletePickupModal");
    deletePickupModal.addEventListener("show.bs.modal", (event) => {
        const button = event.relatedTarget;
        id = button.getAttribute("data-bs-pickup_id");
    });
    const submitDeleteButton = document.getElementById("submitDeleteButton");
    submitDeleteButton.addEventListener("click", (event) => {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST", "/deletepickup", false);
        xmlHttp.setRequestHeader(
            "Content-type",
            "application/x-www-form-urlencoded"
        );
        xmlHttp.send("pickup_id=" + id);
    });

    const viewPickupModal = document.getElementById("viewPickupModal");
    viewPickupModal.addEventListener("show.bs.modal", (event) => {
        const button = event.relatedTarget;
        viewPickupModal.querySelector(".pickup_note").textContent = button.getAttribute("data-bs-pickup_note");
        viewPickupModal.querySelector(".pickup_user_name").textContent = button.getAttribute("data-bs-pickup_user_name");
        viewPickupModal.querySelector(".pickup_user_phone").textContent = button.getAttribute("data-bs-pickup_user_phone");
        viewPickupModal.querySelector(".pickup_user_address").textContent = button.getAttribute("data-bs-pickup_user_address");
    });
    function searchTable() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");

            if (td.length > 0) {
                if (
                    td[0].innerHTML.toUpperCase().indexOf(filter) > -1 ||
                    td[1].innerHTML.toUpperCase().indexOf(filter) > -1
                ) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{{ template "foot" }}
