{{ template "head" . }}
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                    <img src="./assets/logo.png" alt="logo" width="50" />
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
                        <form method="POST" needs-validation autocomplete="off">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="user_name"
                                    >Name</label
                                >
                                <input
                                    id="user_name"
                                    type="text"
                                    class="form-control"
                                    name="user_name"
                                    value=""
                                    required
                                    autofocus
                                />
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="user_phone"
                                    >Phone Number</label
                                >
                                <input
                                    id="user_phone"
                                    type="tel"
                                    class="form-control"
                                    name="user_phone"
                                    value=""
                                    required
                                />
                            </div>

                            <div class="mb-3">
                                <label
                                    class="mb-2 text-muted"
                                    for="user_address"
                                    >Address</label
                                >
                                <input
                                    id="user_address"
                                    type="text"
                                    class="form-control"
                                    name="user_address"
                                    value=""
                                    required
                                />
                            </div>

                            <div class="mb-3">
                                <label
                                    class="mb-2 text-muted"
                                    for="user_password"
                                    >Password
                                    <i>(minimum 8 characters)</i></label
                                >
                                <input
                                    id="user_password"
                                    type="password"
                                    class="form-control"
                                    name="user_password"
                                    required
                                />
                            </div>
                            <i class="register-response"
                                >{{ .user_register_status_text }}</i
                            >
                            <div class="align-items-center d-flex">
                                <button
                                    type="submit"
                                    class="btn btn-primary ms-auto"
                                >
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Already have an account?
                            <a href="/login" class="text-dark">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ template "foot" }}
