{{ template "head" . }}

<div class="container-fluid">
    <div class="row">
        <div
            class="col-md-3 col-lg-2 d-md-block sidebar collapse pt-3 sidebar-sticky"
        >
            <h6
                class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white text-uppercase"
            >
                <span>Package Reports</span>
            </h6>
            <div>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            id="report_current_month"
                            type="button"
                        >
                            <span
                                data-feather="file-text"
                                class="align-text-bottom"
                            ></span>
                            Current Month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            id="report_current_year"
                            type="button"
                        >
                            <span
                                data-feather="file-text"
                                class="align-text-bottom"
                            ></span>
                            Current Year
                        </a>
                    </li>
                </ul>
            </div>
            <div id="report_custom">
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <p class="nav-link">Custom Monthly</p>
                        <select
                            class="form-control w-75 mx-auto"
                            id="report_month"
                        >
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">Custom Yearly</p>
                        <select
                            class="form-control w-75 mx-auto"
                            id="report_year"
                        >
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <canvas
                class="my-4 w-100"
                id="myChart"
                width="900"
                height="380"
            ></canvas>
        </main>
    </div>
</div>
<script src="./assets/js/feather.min.js"></script>
<script src="./assets/js/Chart.min.js"></script>
<script>
    feather.replace({ "aria-hidden": "true" });
    const ctx = document.getElementById("myChart");
    function UpdateChart() {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/report_data/" + type + "/" + value, false);
        xmlHttp.send(null);
        var data = JSON.parse(xmlHttp.responseText);

        const myChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: data.labels,
                datasets: [
                    {
                        data: data.data,
                        lineTension: 0,
                        backgroundColor: "transparent",
                        borderColor: "#007bff",
                        borderWidth: 4,
                        pointBackgroundColor: "#007bff",
                        color: "#FFFFFF",
                    },
                ],
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                fontColor: "white",
                                beginAtZero: false,
                            },
                            gridLines: {
                                color: "white",
                            },
                        },
                    ],
                    xAxes: [
                        {
                            ticks: {
                                fontColor: "white",
                                beginAtZero: false,
                            },
                            gridLines: {
                                display: false,
                            },
                        },
                    ],
                },

                legend: {
                    display: false,
                },
            },
        });
    }

    document
        .getElementById("report_current_month")
        .addEventListener("click", function () {
            type = "monthly";
            value = "0";
            UpdateChart();
        });
    document
        .getElementById("report_month")
        .addEventListener("change", function () {
            type = "monthly";
            value = this.value;
            UpdateChart();
        });
    document
        .getElementById("report_current_year")
        .addEventListener("click", function () {
            type = "yearly";
            value = "0";
            UpdateChart();
        });
    document
        .getElementById("report_year")
        .addEventListener("change", function () {
            type = "yearly";
            value = this.value;
            UpdateChart();
        });
</script>
{{ template "foot" }}
