{{ template "head" . }}
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Packages</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="search-box">
                            <div class="input-group">
                                <input
                                    type="text"
                                    id="search"
                                    class="form-control"
                                    placeholder="Search"
                                    onkeyup="searchTable()"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="table">
                <thead>
                    <tr>
                        <th class="w-25">Package Code</th>
                        <th id="input_name">Receiver Name</th>
                        <th>Receiver Address</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    // Get data from backend and display on table
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", "/userpackages", false);
    xmlHttp.send(null);
    var packages = JSON.parse(xmlHttp.responseText);
    var table = document.getElementById("table");
    for (i = 0; i < packages.length; i++) {
        var row = table.insertRow(1);
        var col = [
            row.insertCell(0),
            row.insertCell(1),
            row.insertCell(2),
            row.insertCell(3),
        ];
        col[0].innerHTML = packages[i].code;
        col[1].innerHTML = packages[i].dest_name;
        col[2].innerHTML = packages[i].dest_addr;
        col[3].innerHTML = packages[i].status;
    }

    function searchTable() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");

            if (td.length > 0) {
                if (
                    td[0].innerHTML.toUpperCase().indexOf(filter) > -1 ||
                    td[1].innerHTML.toUpperCase().indexOf(filter) > -1 || 
                    td[2].innerHTML.toUpperCase().indexOf(filter) > -1 ||
                    td[3].innerHTML.toUpperCase().indexOf(filter) > -1 
                ) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{{ template "foot" }}
