{{ template "head" }}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="table" viewBox="0 0 16 16">
      <path
        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
    </symbol>

    <symbol id="collection" viewBox="0 0 16 16">
      <path
        d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" />
    </symbol>

    <symbol id="speedometer" viewBox="0 0 16 16">
      <path
        d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
      <path fill-rule="evenodd"
        d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
    </symbol>

    <symbol id="gear-fill" viewBox="0 0 16 16">
      <path
        d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
    </symbol>
  </svg>
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-7 col-sm-9">
          <div class="text-center my-5">
            <img src="./assets/logo.png" alt="logo" width="80" />
          </div>
          <div class="pricing-header p-3 pb-md-4 mx-auto text-center text-white">
            <h1 class="display-5 fw-normal">Xpress Delivery</h1>
            <p class="fs-5">
              Xpress Delivery Service is one of the world leading Service
              with thousands of transactions per day with hundreds of professional staffs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container py-3">
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Normal</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">
                1000-9999 MMK <small class="text-muted fw-light">/package</small>
              </h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>1000 cm<sup>2</sup></li>
                <li>5 - 14 days Delivery</li>
                <li>Door2Door Pickup</li>
                <li>Tracking Service</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">Express</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">
                5000-19999 MMK <small class="text-muted fw-light">/package</small>
              </h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>5000 cm<sup>2</sup></li>
                <li>2 - 5 days Delivery</li>
                <li>Door2Door Pickup</li>
                <li>Tracking Service</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">Business</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">
                Contract</br> <small class="text-muted fw-light">/package</small>
              </h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>???? cm<sup>2</sup></li>
                <li>???? days Delivery</li>
                <li>Door2Door Pickup</li>
                <li>Tracking Service</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="./assets/images/about-us-1.png" class="bd-placeholder-img">
            <div class="card-body">
              <p class="card-text">Text here. Text here. Text here. Text here. Text here. Text here. Text here. Text
                here. Text here. Text here. </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./assets/images/about-us-2.png" class="bd-placeholder-img">
            <div class="card-body">
              <p class="card-text">Text here. Text here. Text here. Text here. Text here. Text here. Text here. Text
                here. Text here. Text here. </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./assets/images/about-us-3.png" class="bd-placeholder-img">
            <div class="card-body">
              <p class="card-text">Text here. Text here. Text here. Text here. Text here. Text here. Text here. Text
                here. Text here. Text here. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container px-4 py-5">
      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="d-flex flex-column align-items-start gap-2">
          <h3 class="fw-bold">Feature text. Feature text. </h3>
          <p class="text-muted">Feature text. Feature text. Feature text. Feature text. Feature text. Feature text. Feature text. Feature text. Feature text. Feature text. Feature text. </p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0">Featured title</h4>
            <p class="text-muted">Feature text. Feature text. Feature text. Feature text. Feature text. </p>
          </div>

          <div class="d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#gear-fill" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0">Featured title</h4>
            <p class="text-muted">Feature text. Feature text. Feature text. Feature text. Feature text. </p>
          </div>

          <div class="d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#speedometer" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0">Featured title</h4>
            <p class="text-muted">Feature text. Feature text. Feature text. Feature text. Feature text. </p>
          </div>

          <div class="d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#table" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0">Featured title</h4>
            <p class="text-muted">Feature text. Feature text. Feature text. Feature text. Feature text. </p>
          </div>
        </div>
      </div>
    </div>
{{ template "foot" }}