{{ template "head" . }}

<main>
    <div class="container table-container">
  
      <h2 class="mt-4 text-white">User Table</h2>
      <div class="row mb-1 text-center">
        <div class="col-md-4 themed-grid-col">ID</div>
        <div class="col-md-4 themed-grid-col">Username</div>
        <div class="col-md-2 themed-grid-col-button"><a role="button" class="w-30 btn btn-sm btn-outline-info" aria-current="page"
            href="/edituser">Edit</a></div>
        <div class="col-md-2 themed-grid-col-button"><a role="button" class="w-30 btn btn-sm btn-outline-danger" aria-current="page"
            href="/deleteuser">Delete</a></div>
      </div>
      <div class="row mb-1 text-center">
        <div class="col-md-4 themed-grid-col">0</div>
        <div class="col-md-4 themed-grid-col">Admin</div>
        <div class="col-md-2 themed-grid-col-button"><a role="button" class="w-30 btn btn-sm btn-outline-info" aria-current="page"
            href="/edituser">Edit</a></div>
        <div class="col-md-2 themed-grid-col-button"><a role="button" class="w-30 btn btn-sm btn-outline-danger" aria-current="page"
            href="/deleteuser">Delete</a></div>
      </div>
      <div class="row mb-1 text-center">
        <div class="col-md-4 themed-grid-col">1</div>
        <div class="col-md-4 themed-grid-col">User</div>
        <div class="col-md-2 themed-grid-col-button"><a role="button" class="w-30 btn btn-sm btn-outline-info" aria-current="page"
            href="/edituser">Edit</a></div>
        <div class="col-md-2 themed-grid-col-button"><a role="button" class="w-30 btn btn-sm btn-outline-danger" aria-current="page"
            href="/deleteuser">Delete</a></div>
      </div>
    
  </main>

{{ template "foot" }}