{{ template "head" . }}

<h1 class="text-white">Map Test</h1>

<div id="googleMap" style="width: 800px; height: 400px"></div>

<script>
    function myMap() {
        // GET request to Endpoint, get officelocations
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/officelocations", false);
        xmlHttp.send(null);
        var locations = JSON.parse(xmlHttp.responseText);

        // Declare new map
        var map = new google.maps.Map(document.getElementById("googleMap"), {
            zoom: 6,
            center: new google.maps.LatLng(locations[0].location_lat, locations[0].location_lng),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        });

        // Declare InfoWindow for info text
        var infowindow = new google.maps.InfoWindow();
        var marker, i;

        // Add markers on map from locations array
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(
                    locations[i].location_lat,
                    locations[i].location_lng
                ),
                map: map,
            });
            // Show info windows on click on the markers 
            google.maps.event.addListener(
                marker,
                "click",
                (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i].name+"<br>"+locations[i].address+"<br>"+locations[i].phone);
                        infowindow.open(map, marker);
                    };
                })(marker, i)
            );
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ .map_api_key }}&callback=myMap"></script>

{{ template "foot" }}